body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.r-style {
  white-space: nowrap;
  border-bottom: 1px solid black;
  padding-top: 8px;
  padding-bottom: 8px;
}

.info-row {
  font-size: 9px;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.title {
  text-transform: uppercase;
}

.separator {
  border: 1px solid orange;
}

.dropdown a {
  cursor: pointer;
  min-width: 200px;
}

.dropdown-item:active {
  background-color: pink
}

.dropdown-item.active {
  background-color: pink;
}

.dropdown-item:hover {
  background-color: orange;
}

.crypto-dropdown {
  margin: 0 auto;
  left: unset;
}

.convert-input {
  font-size: 12px;
}

.input-label {
  font-size: 10px;
}

.cursor {
  cursor: pointer;
}

.active {
  background-color: pink;
}

/* top 100 */
.rank-div {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.name-div {
  font-size: 12px;
  letter-spacing: 0.1em;
}

.value-div {
  font-size: 13px;
}

/* login */
.login-input {
  width: 100%;
}

.login-submit {
  width: 100%;
}

.signup-input {
  width: 100%;
}

.signup-submit {
  width: 100%;
}